* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  width: 100vw;
}

.navbar {
  line-height: 2;
  font-size: 1.2rem;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  background: rgba(255, 255, 255, 0.5) !important;
}

.navbar .navbrand {
  font-size: 4rem;
}

.product-container {
  display: grid;
  grid-area: product-container;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 20px;
  margin: 0 auto;
  grid-template-rows: repeat(50, max-content);
}

.product-item {
  display: grid;
  justify-content: center;
  border: 1px solid black;
  border-radius: 0.5rem;
  padding: 10px;
}

.product-item img {
  width: 300px;
  height: 200px;
}

.middle-container {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-areas: "sidebar product-container";
}

.sidebar {
  grid-area: sidebar;
}

@media screen and (max-width: 768px) {
  .product-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .middle-container {
    grid-template-columns: 1fr;
    grid-template-rows: 100px auto;
    grid-template-areas:
      "sidebar"
      "product-container";
  }

  .sidebar {
    display: flex;
    max-width: 100vw;
    overflow-y: hidden;
  }
}

@media screen and (max-width: 480px) {
  .product-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .middle-container {
    grid-template-columns: 1fr;
    grid-template-rows: 100px auto;
    grid-template-areas:
      "sidebar"
      "product-container";
  }

  .sidebar {
    display: flex;
    max-width: 100vw;
  }
}
