* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-content: center;
}

nav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 1rem 10px;
    background: #11111188;
    backdrop-filter: blur(8px);
    color: #fff;
    margin-bottom: 55px;
}

nav ul{
    list-style: none;
    display: flex;
}

nav ul li a {
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
    border: 1px solid white;
}

form {
    display: flex;
    flex-direction: column;
}

.product-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.product-item {
    border: 1px solid grey;
}